div.inside a, div.inside a.rsswidget {
	font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif;
	text-decoration: none;
}

div.inside ul {
	margin-left: 20px;
}

div.inside ul li {
	list-style: disc;
	line-height:16px;
}

#icon-shield {
    background: transparent url( '../../img/shield-large.png' ) no-repeat;
}

.form-table th {
	font-weight: bold;
}
