div.inside a, div.inside a.rsswidget {
	font-family: 'Lucida Grande', Verdana, Arial, 'Bitstream Vera Sans', sans-serif;
	text-decoration: none;
}

div.inside ul {
	margin-left: 20px;
}

div.inside ul li {
	list-style: disc;
	line-height:16px;
}

.form-table th {
	font-weight: bold;
}

ul.statuslist,
ol.statuslist {
	padding-left: 10px;
}
